aside.sidebar {
  position: fixed;
  height: 100%;
  width: 25%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 23px 30px;

  background-color: #2C2C2C;
}

aside.sidebar h1 {
  font-size: 4rem;
}

aside.sidebar .search-container, aside.sidebar .latest-searches-container {
  width: 100%;
}

aside.sidebar h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 200;
}

aside.sidebar .search-container input {
  width: 100%;
  height: 4rem;

  border-radius: 4px;
  padding: 1rem;


  color: #2C2C2C;
  background-color: rgba(255, 255, 255, 0.75);

  outline: none;
  border: none;
}

aside.sidebar .search-container input::placeholder {
  color: #2C2C2C;
}

aside.sidebar .search-container button {
  width: 100%;
  height: 4rem;

  background-color: #FFFFFF;
  color: #2C2C2C;

  border-radius: 4px;
  margin-top: 1rem;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

aside.sidebar .latest-searches-container .search {
  background-color: #FFFFFF;
  color: #2C2C2C;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 4rem;

  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
}

aside.sidebar .latest-searches-container .search p {
  font-size: 1.5rem;
}

main {
  width: 75%;
  height: 100vh;
  margin-left: 25%;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

main .content {
  z-index: 10;

  position: absolute;
  top: 0;

  background-color: rgba(31, 31, 31, 0.7);

  width: 75%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .content p {
  margin-top: 2rem;
  font-size: 8rem;
}

main .content span {
  margin-top: -0.5rem;
  font-size: 3rem;
  font-weight: 100;
}
